- provide :title, "passe adiante"
section#wall.isotope
  = render @raspas
/ <% @images.each_slice(6) do |slice| -%>
/   <div class="gallery">
/     <% slice.each do |image| -%>
/       <%= image_tag(image.url, :alt => image.alt) %>
/     <% end -%>
/   </div>
/ <% end -%>