$raspas: #E2492F
$border: #F0F0F0
$text: #231F20
$note: #D8D8D8
$ginga-verde: rgba(15, 179, 30, 0.65)
$ginga-coral: rgba(243, 92, 84, 0.65)
$ginga-azul: rgba(86, 188, 188, 0.65)
$ginga-laranja: rgba(247, 154, 6, 0.65)
$ginga-cinza: rgba(35, 31, 32, 0.65)

html, body
  height: 100%

// .col-lg-2, .col-lg-4, .col-lg-10
//   padding: 0

.borderT
  border: 2px solid blue

.border
  border: 1px solid $border

ul
  margin: 0
  
  li
    list-style-type: none

a
  color: #E2492F
  text-decoration: none

.btn
  margin-right: 16px

hr
  margin-bottom: 0

.btn.btn-large
  text-align: left
  text-indent: 14px